*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Protest Riot";
}

body{
    background: #434a70;
    color: #F2F2F2;
    min-height: 100vh;
}


button{
    cursor: pointer;
}