.footer{
    background-color: #B784B7;
    display:flex;
    align-items: center;
    justify-content: center;
    height:50px;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}